@font-face{
    font-family: 'Medium';
    src: url(../fonts/Rubik-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face{
    font-family: 'Regular';
    src: url(../fonts/Rubik-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: 'Bold';
    src: url(../fonts/Rubik-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'SemiBold' ;
    src: url(../fonts/Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
}